<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Panel Administratora</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/grid-gallery.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <a class="btn btn-outline-danger" th:href="@{/logout}">Wyloguj</a>
    </form>
</nav>
<section class="gallery-block grid-gallery">
    <div class="container">
        <div class="heading">
            <h2>Galerie użytkownika <span th:remove="tag" th:text="${username}"></span></h2>
        </div>
        <div class="row">
            <tr th:each="gallery: ${availableGalleries}">
                <div class="col-md-6 col-lg-4 item" style="text-align: center">
                    <a th:href="'gallery/'+${gallery}">
                        <input alt="Submit" height="128" src="/assets/folder_icon.png" type="image" width="128">
                    </a>
                    <p><span th:remove="tag" th:text="${gallery}"></span></p>
                </div>
            </tr>
        </div>
    </div>
</section>
</body>
</html>
